@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}
@keyframes cupshake {
    from {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}
@keyframes shoestep {
    from {
        transform: translateY(10px);
        transform-origin: top left;
    }
    50% {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
        transform-origin: top left;
    }
}