@media (max-width: 1200px) {
    .container {
        max-width: 800px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-bottom: 40px;
        }
    }
    .carousel {
        &__inner {
            width: 500px;
            div{
                img {
                    width: 100%;
                }
            }
            
        }
    }
    .consultation {
        .title {
            text-align: center;
        }
        &__descr {
            text-align: center;
            margin-top: 30px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 40px;
        }
    }
    .footer {
        &__info {
            width: 100%;
            position: absolute;
            top: 630px;

        }
    }
}